<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container shadow p-3 mt-5 bg-body d-flex flex-column justify-content-center align-items-center"  style="max-width: 30rem">
    <h1 class="mb-3">Login</h1>
    <form action="#" th:action="@{/player/login}" th:object="${player}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <div  class="mt-5 mb-3">
            <button type="submit" class="btn btn-outline-primary w-100">Login</button>
        </div>
        <div  class="mb-3">
            <p th:if="${error}" class="text-danger">Invalid email or password</p>
        </div>
        <div>
            <p>Don't have an account? <a href="/player/signup">Signup</a></p>
        </div>
    </form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>